.details {
    position: absolute;
    top: 8rem;
    right: 2rem;
    left: 20rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f0f8ff;
}